button{background-color: purple;
border-radius: 19px;
height: 30px;
width: 55px;
}

 body{ text-align: center;
font-size: 25px;
background-color: aqua;
}

h1{text-decoration: underline;}

input{ height: 50px;
width: 500px;
}

input:placeholder-shown{
text-align: center;
font-size:20px ;

}

button:hover{
background-color: crimson;
height: 32px;
width: 57px;
}

ul{list-style-type: none;}

img{height: 150px;
width: 150px;
}